body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}
    
body, html {
    height: 100%;
    /*line-height: 1.8;*/
}

/* Full height image header */
/*
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/header/fotoportada_01.jpg");
    min-height: 100%;
}
*/

/************************/
.pm-header,
.pm-header:after { 
    min-height: 100%;
}
.pm-header:after { 
    content: '';
    background: transparent url("../images/header/fotoportada_01.jpg") repeat top left; 
}
.pm-header .spanImages { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 12s linear infinite 0s; 
}

.pm-header .messageHeader { 
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 12s linear infinite 0s; 
}
.pm-header div:nth-child(1) .spanImages { 
    background-image: url("../images/header/fotoportada_01.jpg") 
}

.pm-header  div:nth-child(2) .spanImages { 
    background-image: url("../images/header/fotoportada_02.jpg");
    animation-delay: 6s; 
}

.pm-header div:nth-child(2) .messageHeader { 
    animation-delay: 6s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    25% { opacity: 1; animation-timing-function: ease-out; }
    50% { opacity: 1 }
    75% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    25% { opacity: 1 }
    50% { opacity: 1 }
    60% { opacity: 0 }
    100% { opacity: 0 }
}

/*
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	25% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	50% {
	    opacity: 1;
	    transform: scale(1.1) rotate(3deg);
	}
	75% {
	    opacity: 0;
	    transform: scale(1.1) rotate(3deg);
	}
	100% { opacity: 0 }
}

@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateX(200px);
	}
	25% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	50% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	60% {
	    opacity: 0;
	    transform: translateX(-400px);
	}
	75% { opacity: 0 }
	100% { opacity: 0 }
}
*/

/*************************/

.w3-bar .w3-button {
    padding: 16px;
}

.w3-bar .pm-vertical{
    display: flex;
    flex-direction: row;
    height: 75px;
}

#home {
    margin-top: 75px;
}

#home .pm-gray{
    background-color: #9e9e9ebf;
}

#team .pm-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
}

#team .pm-minheight{
    min-height: 410px;
}

.pm-colab{
    width: 50%;
    height: 25%;
}

.pm-colab a{
    display: block;
    height: 100%;
}

.pm-cvmaestros {
    padding-bottom: 15px;
}

.pm-gymhorarios{
    padding-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.pm-padding-tabs{
    padding: 20px 8px;
    font-weight: 600;
}



@media (max-width: 690px) {
    .pm-hide-small {
        display: none!important;
    }
}

@media (max-width: 992px) and (min-width: 691px) {
    .pm-hide-medium {
        display: none!important;
    }
}

@media (max-width: 600px) {

    #pricing a div{
        width: 100%;
        border-bottom: 1px solid #ffffff;
    }

    #NoEmpadronado h3,
    #Empadronado h3,
    #Ofertas h3{
        text-align: center;
        margin-bottom: 10px;
    }

    #NoEmpadronado div,
    #Empadronado div,
    #Ofertas div{
        text-align: center;
        margin-bottom: 10px;
    }

    #NoEmpadronado div span,
    #Empadronado div span,
    #Ofertas div span{
        display: block;
        text-align: center;
        float: none !important;
    }


}

